* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;

}

body,
html {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: black;
  position: relative;

}

.elem {
    height: 100px;
    width: 100%;
    border-bottom: 2px solid grey;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  position: relative;
}
.elem h1{
    font-size: 5vw;
    position: relative;
    mix-blend-mode: difference;
    z-index: 9;
}
.elem img{
height: 130px;
width: 130px;
border-radius: 50%;
object-fit: cover;
object-position: center;
position: absolute;
opacity: 0;
}
